

<div class="poster">

  <img src="<%= @movie_details['Poster'] %>">
  
</div>

<div class="details">
  
  <h2><%= @movie_details['Title'] %></h2>

  <p>Rated: <%= @movie_details['Rated'] %></p>

  <p>Length: <%= @movie_details['Runtime'] %></p>

  <p>Released: <%= @movie_details['Released'] %></p>

  <p>Staring: <%= @movie_details['Actors'] %></p>
  
</div>


